{
  "parser": "babel-eslint",
  "plugins": [
    "babel"
  ],
  "rules": {
    "no-console": "off"
  },
  "extends": ["eslint:recommended"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
